
.btn-adc{
    background-color: #83767665;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    transition: 0.3s;
}

.btn-adc:hover{
    background-color: #837676;
}

.btn-del{
    background-color: #f8000065;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    transition: 0.3s;
}

.btn-del:hover{
    background-color: #f80000;
}


.main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card2 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link2,
  .card__exit2,
  .card__icon2 {
    position: relative;
    text-decoration: none;
    color: black;
  }
  
  .card__link2::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link2:hover::after {
    width: 100%;
  }
  
  .card__exit2 {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon2 {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title2 {
    grid-row: 3/4;
    font-weight: 900;
    color: black;
  }
  
  .card__apply2 {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-12 {
    background: white;
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards2 {
      justify-content: center;
    }
  }
  