@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  header {
    background-image: url("../assets/Rascunho\ site\ 1.svg");
    height: 100vh;
  }

  .texto{
    margin-top: 80px;
  }

  .totem img{
    width: 600px;
    margin-left: -30px;
    margin-top: 100px;
  }

  .onda{
  display: none;
  }
  
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

/* IPHONE SE */

@media only screen and (max-width: 375px) {
  .totem img{
    width: 50px;
    margin-left: -10px;
    margin-top: 100px;
  }

  .section-4 .card {
    width: 18em;
  }

  .wrapper{
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
    height: 120vh;
  }

  .carousel__item{
   width: 100vw;
   height: 100px;
   margin-bottom: 90px;
  }

  .sobre-footer{
    display: none;
  }

  .texto-footer{
    display: none;
  }

  .texto-sobre1 {
    width: 400px;
    max-width: 100%;
    padding: 0 10px;
}
}

@media only screen and (max-width: 360px){

  .totem img{
    width: 450px;
    margin-left: -33px;
    margin-top: 100px;
  }

}








@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }

  
}

/* IPHONE XR */
@media screen and (max-width: 414px){

  .totem img{
    width: 450px;
    margin-left: -33px;
    margin-top: 100px;
  }

  .wrapper{
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
    height: 120vh;
  }

  .carousel__item{
    width: 100vw;
    height: 100px;
    margin-top: -200px;
    margin-bottom: 90px;
   }

   .sobre-footer{
    display: none;
  }

  .texto-footer{
    display: none;
  }
}

/* SOBRE NÓS PRA BAIXO */

@media screen and (max-width: 1180px){
  .sobre-nos{
      width: 100%;
      height: auto;
      padding: 70px 0px;
  }

  .sobre-nos .conteudo-sobre img{
      margin-bottom: 35px;
      width: 200px;
  }

  .texto-sobre h1{
      font-size: 60px;
      margin-bottom: 25px;
  }

  .sobre-nos1{
      width: 100%;
      height: auto;
      padding: 70px 0px;
  }

  .sobre-nos1 .conteudo-sobre1 img{
      margin-bottom: 35px;
      width: 200px;
  }

  .texto-sobre1 h1{
      font-size: 60px;
      margin-bottom: 25px;
  }

  .nosso-servico{
      height: 100%;
  }
}